:80 {
	php_server
	encode zstd br gzip

	@cacheable {
		path *.css *.js *.woff *.woff2 *.ttf *.otf *.ico *.png *.jpg *.jpeg *.gif *.svg *.webp *.avif
	}

	header @cacheable {
		Cache-Control "public, max-age=31536000, immutable"
		CDN-Cache-Control "public, max-age=31536000, immutable"
		Cloudflare-CDN-Cache-Control "public, max-age=31536000, immutable"
	}

	# Tell WordPress the original request was HTTPS
	header {
		X-Forwarded-Proto "https"
		X-Forwarded-For {remote_host}
		X-Real-IP {remote_host}

		Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "SAMEORIGIN"
		Referrer-Policy "strict-origin-when-cross-origin"
		-Server
	}

	# BEGIN Converter for Media
	header /wp-content/*/*.jpg Cache-Control "private"
	header /wp-content/*/*.jpeg Cache-Control "private"
	header /wp-content/*/*.png Cache-Control "private"
	header /wp-content/*/*.webp Cache-Control "private"

	@acceptsAvif {
		header Accept *image/avif*
		path_regexp avif ^/wp-content/(.+)/(.+)\.(jpg|jpeg|png|webp)$
	}
	@acceptsWebp {
		header Accept *image/webp*
		path_regexp webp ^/wp-content/(.+)/(.+)\.(jpg|jpeg|png)$
	}

	handle @acceptsAvif {
		@hasAvif file /wp-content/uploads-webpc/{re.avif.1}/{re.avif.2}.{re.avif.3}.avif
		rewrite @hasAvif /wp-content/uploads-webpc/{re.avif.1}/{re.avif.2}.{re.avif.3}.avif
	}
	handle @acceptsWebp {
		@hasWebp file /wp-content/uploads-webpc/{re.webp.1}/{re.webp.2}.{re.webp.3}.webp
		rewrite @hasWebp /wp-content/uploads-webpc/{re.webp.1}/{re.webp.2}.{re.webp.3}.webp
	}
	# END Converter for Media

	log
}
